.divider {
    border-top: 5px solid black;
    width: 80%;
    margin-top: -55px;
  }

  .img{
    margin-bottom: -52px;
    width: auto;
    height: 350px;
    display: flex;
    justify-content: flex-start;
  }

  @media (prefers-color-scheme: dark) {
    .img{
      filter: invert(100%);
    }
  }

  .margin{
    margin: 0 auto;
    width: 70rem;
  }

  .text{
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 4rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
  }

  .outText{
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: start;
    /* margin-left: 4rem; */
    line-height: 2.2rem;
    font-size: 1.5rem;
  }

  .descript {
    width: 800px;
  }

  .out {
    margin: 0 auto;
    width: 70rem;
    margin-bottom: 5rem;
  }

  .button{
      margin-bottom: 1rem;
      padding: 1rem;
      text-align: left;
      color: inherit;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
      width: 400px;
      /* height: fit-content; */
  }

  .button:hover,
  .button:focus,
  .button:active {
    background-color: #fbe259;
  }